.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
public/images
# 由于经常换域名和服务器,图片经常404,所以把这些静态文件都加到 git
# static/images/avatar/*.*
# static/images/*.jpg
# static/images/*.jpeg
# static/images/*.png
# static/images/*.gif

common/db.js
